<div class="nav-yellow-top"></div>
<nav class="nav-blue-top">
  <a class="logo" href="/">
    <img src="../../assets/img/logo_uni.png" />
    <img src="../../assets/img/tyl_project.png" class="tyl-project-img"/>
  </a>
  <div class="menu">
    <!-- <div class="oblique_menu_up"></div>  -->

    <img src="../../assets/img/manuOblique.png" class="svgObliqueMenu">  


    <a class="basics_menu_up">{{basics_menu_up}}</a>
    <a class="subject_menu_up">{{subject_menu_up}}</a>
    <a class="loginLogout">{{loginLogout}}</a>
  </div>
</nav>
<nav class="nav-blue-bottom">
  <div class="nav-breadcrumb nav-blue-bottom_left">Parties   >   Party, Role and Relationship Types   >   Role Types</div>
  <div class="nav-blue-bottom_right">
    <span class="account_nav">Benvenuto <span>Admin</span> | <a>logout</a></span>
    <button class="choose_lang"><img src="../../assets/img/flags/italy.jpg" class="flagsMenu"> Italiano <img src="../../assets/img/baseline-arrow_right-24px.svg" class="baseline-arrow_right-24px"></button>
  </div>
</nav>




<!--
<nav class="navbar navbar-dark nav-blue-top mb-5">
    <a class="navbar-brand" href="/">
      <img src="../../assets/img/logo_uni.png" />
      <img src="../../assets/img/tyl_project.png" class="tyl-project-img"/>
    </a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
      </div>
    </div>
  </nav>

-->