@import './sass/variables'
@import './sass/navbar'

body
    background: $coloreBackgroundBody
    //@include background-cover("https://images4.alphacoders.com/607/thumb-1920-607341.jpg")

h1
    color: red

.container
    max-width: 500px
    margin: 0 auto
    border: 1px solid green
    p
        color: green
        span
            color: yellow
            font-weight: bold
            text-transform: uppercase

            
html, body
    height: 100%
    background: $coloreBackgroundBody

body 
    margin: 0
    font-family: 'Roboto', sans-serif